<div class="example-wrapper">
    <ag-grid-angular
        style="width: 100%; height: 500px;"
        id="myGrid"
        class="ag-theme-alpine"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"
        [modules]="modules"
        [getRowStyle]="getRowStyle"
        [pinnedTopRowData]="pinnedTopRowData"
        [pinnedBottomRowData]="pinnedBottomRowData"
        [frameworkComponents]="frameworkComponents"
        [suppressContextMenu]="false"
        (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
</div>
